$blue: #6b9dbf;
$lightblue: #93bdd8;
$darkblue: #3f7396;
$green: #42e31b;
$yellow: #fede16;
$tan: #f5bc55;
$red: #c60600;

$accent: "Luckiest Guy", cursive;

.About {
    display: grid;
    grid-gap: 1rem;
    font-family: "Raleway";
    height: 100vh;
    padding: 3em;
    background-color: $blue;
    overflow: auto;

    display: grid;
    grid-template-areas: "header" "summary" "bios";

    // .bios {
    //     display: grid;
    //     grid-gap: 1rem;

    //     display: grid;
    //     grid-template-areas: "p1 p2 p3 p4";
    // }
    .my-masonry-grid {
        display: -webkit-box; /* Not needed if autoprefixing */
        display: -ms-flexbox; /* Not needed if autoprefixing */
        display: flex;
        margin-left: -15px; /* gutter size offset */
        width: auto;
    }
    .my-masonry-grid_column {
        padding-left: 15px; /* gutter size */
        background-clip: padding-box;
    }

    // Style your items
    .my-masonry-grid_column > div {
        /* change div to reference your elements you put in <Masonry> */
        // background: grey;
        margin-bottom: 15px;
    }
    .my-masonry-grid_column:nth-of-type(even) > div:first-of-type {
        // margin-top: 2em;
        // background-color: $darkblue;
    }
}
